.categoryCol {
    padding: 0 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.cardColumnTitle {
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 0px;
    background-color: white;
}

.allItemsCol {
    border-radius: 6px;
}
